* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: whitesmoke;
}

:root {
  --padding: 0 180px;
  --white: #fffdfc;
  --gray: #f9f8f2;
  --black: #333332;
  --blackSecondary: #1d1b1b;
}
