@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

body {
  /* margin: 0;
  padding: 0; */
  background-color: #fffdfc;
  /* color: whitesmoke; */
  /* color: black; */
  font-family: var(--inter);
}

:root {
  --padding: 0 180px;
  --white: #fffdfc;
  --gray: #f9f8f2;
  --black: #333332;
  --blackSecondary: #1d1b1b;
  --inter: "Inter", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1300px;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  gap: 20px;
  animation: scroll 45s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slide {
  height: 78px;
  width: 100%;
  object-fit: cover;
  /* background-color: red; */
}

.lazy-load-image-loaded {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
}
